In [1]:
import numpy as np
import pandas as pd
from sklearn.feature_extraction.text import CountVectorizer
from sklearn.metrics.pairwise import cosine_similarity

In [129]:
movies = pd.read_csv('movies.csv')
movies['title'] = movies['title'].str[:-7]
movies['genres'] = movies['genres'].str.replace('|', ' ')

ratings = pd.read_csv('ratings.csv')
movies

C:\Users\al883\AppData\Local\Temp\ipykernel_12796\1349642473.py:3: FutureWarning: The default value of regex will change from True to False in a future version. In addition, single character regular expressions will *not* be treated as literal strings when regex=True.
  movies['genres'] = movies['genres'].str.replace('|', ' ')

,movieId,title,genres
0,1,Toy Story,Adventure Animation Children Comedy Fantasy
1,2,Jumanji,Adventure Children Fantasy
2,3,Grumpier Old Men,Comedy Romance
3,4,Waiting to Exhale,Comedy Drama Romance
4,5,Father of the Bride Part II,Comedy
...,...,...,...
9737,193581,Black Butler: Book of the Atlantic,Action Animation Comedy Fantasy
9738,193583,No Game No Life: Zero,Animation Comedy Fantasy
9739,193585,Flint,Drama
9740,193587,Bungo Stray Dogs: Dead Apple,Action Animation
9741,193609,Andrew Dice Clay: Dice Rules,Comedy

In [130]:
vectorizer = CountVectorizer()
X = vectorizer.fit_transform(movies['genres'].values)
feature_names = vectorizer.get_feature_names_out()
movie_embeddings = pd.DataFrame(X.toarray(), columns=feature_names)
movie_embeddings['vector'] = movie_embeddings.values.tolist()
movies['genres'] = movie_embeddings['vector']
movies.to_csv('temp.csv')

In [97]:
# def get_cossim(movieid, top):
#     # Creating dataframe with only IDs and genres
#     movies_to_search = movies[['movieId', 'genres']]
#     # Remove the ID of the movie we are measuring distance to
#     movies_to_search = movies_to_search[movies_to_search.movieId != movieid]
#     # Saving distances to new column
#     movies_to_search['dist'] = movies_to_search['genres'].apply(lambda x: cosine_similarity(np.array(x).reshape(1, -1), np.array(movies.loc[movies['movieId'] == movieid]['genres'].values[0]).reshape(1, -1)))
#     # Remove the genres column
#     movies_to_search = movies_to_search.drop(columns=['genres'])
#     # Distance value is in the list inside of the list so we need to unpack it
#     movies_to_search = movies_to_search.explode('dist').explode('dist')
#     # Sort the data and return top values
#     return movies_to_search.sort_values(by=['dist'], ascending=False)['movieId'].head(top).values
# get_cossim(1, 10)

array([ 45074, 166461,   3754,   2294, 136016,  91355,   4016,   3114,
        53121, 103755], dtype=int64)

In [141]:
def get_sim(movieid):
    movie_to_search = movies[['movieId', 'genres']]
    movie_to_search = movie_to_search[movie_to_search.movieId != movieid]
    movie_to_search['similarity'] = movie_to_search['genres'].apply(lambda x: cosine_similarity(np.array(x).reshape(1, -1), np.array(movies[movies['movieId'] == movieid]['genres'].values[0]).reshape(1, -1)))
    return movie_to_search
sim = get_sim(2)
sim

,movieId,genres,similarity
0,1,"[0, 1, 1, 1, 1, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, ...",[[0.7745966692414834]]
2,3,"[0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, ...",[[0.0]]
3,4,"[0, 0, 0, 0, 1, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0, ...",[[0.0]]
4,5,"[0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, ...",[[0.0]]
5,6,"[1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, ...",[[0.0]]
...,...,...,...
9737,193581,"[1, 0, 1, 0, 1, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, ...",[[0.2886751345948129]]
9738,193583,"[0, 0, 1, 0, 1, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, ...",[[0.3333333333333334]]
9739,193585,"[0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0, ...",[[0.0]]
9740,193587,"[1, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, ...",[[0.0]]
9741,193609,"[0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, ...",[[0.0]]